.who-we-are {
  min-height: 100vh;

  background: #a40f29;

  padding: 80px 8%;

  display: flex;
  align-items: center;
}

.who-content {
  max-width: 1100px;
  margin: auto;

  display: grid;
  grid-template-columns: 1.1fr 0.8fr;
  gap: 70px;

  align-items: center;
}

.who-text {
  text-align: center;
}

.who-text h2 {
  font-size: clamp(35px, 5vw, 52px);
  font-style: italic;
  margin-bottom: 20px;
}

.who-text p {
  font-size: 21px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.who-image {
  position: relative;
  overflow: visible;

  transition:
    transform 0.45s ease,
    filter 0.45s ease;
}

.who-image:hover {
  transform:
    perspective(900px)
    rotateY(-4deg)
    rotateX(2deg)
    translateY(-6px);

  filter:
    drop-shadow(0 0 8px rgba(255, 205, 100, 0.55))
    drop-shadow(0 0 22px rgba(255, 180, 50, 0.25));
}

.who-image img {
  width: 100%;
  height: 420px;

  object-fit: cover;
  object-position: center;

  transition: transform 0.45s ease;
}

